html {
    position: relative;
    min-height: 100%
}

body {
    padding-bottom: 60px;
    overflow: scroll;

}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;   
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
}

footer .row {
    padding-top: 15px
}

.selected{
    background-color: #b0eeff;  
}

.tableHead{
    background-color: #b088ff
}

/*tbody{
    height:500px;
    width: 100%;
    overflow-y:auto;
    display:block;
        td,th{
        display:block;
    }
}*/
.layer {
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 400px; /* Ширина блока */
    height: 500px; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */
} 

/*th {
    text-align: left;
    font-weight: normal;
}
tbody{
    height:200px;
    overflow-y:auto;
    width: 100%;
}
thead,tbody,tr,td,th{
    display:block;
}
tbody{
    td{
      float:left;
    }
}*/

