{% load staticfiles %}

<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='{% static 'project/css/bootstrap.min.css' %}'>
    <link rel='stylesheet' href='{% static 'project/css/font-awesome.css' %}'>
    <link rel='stylesheet' href='{% static 'project/css/jquery-ui.css' %}'>
    <link rel='stylesheet' href='{% static 'project/css/jquery-ui.theme.css' %}'>
    <link rel='stylesheet' href='{% static 'project/css/coreStyle.css' %}'>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
    {% block script %}
        <script src="{% static "project/js/jquery.min.js" %}"></script>
        <script src="{% static "project/js/jquery-ui.js" %}"></script>
        <script src="{% static "project/js/app.js" %}"></script>
        {% csrf_token %}
        <script type="text/javascript">
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        </script>
    {% endblock %}
</head>

<body>
<div class="container">
    <form class="form-signin form-horizontal" action="{% url 'registration:login' %}" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Login</h2>      
        <input class="form-control" type="text" name="username" value="" id="username" placeholder="username">
        <input class="form-control" type="password" name="password" value="" id="password" placeholder="Password">
        <button class="btn btn-large btn-primary" type="submit">Login</button>
    </form>
</div>


</body>
</html>