{% extends 'project/base.html' %}
{% load static %}
{% block content %}
<div class="container ">
	<h2>Графики</h2>
	<div id="tabs">
    <ul>
      <li><a href="#tabs-1">Анализ посещений</a></li>
      <li><a href="#tabs-2">Заглушка</a></li>
    </ul>

    <div id="tabs-1">
      <p>C: <input type="text" class="datepicker" id="dateRange1"></p>
      <p>По: <input type="text" class="datepicker" id="dateRange2"></p>
      <button class="btn btn-default get_to_da_JSON">Показать графики</button>
      <div id="chart_div" style="width: 900px; height: 250px"></div>
    </div>

    <div id="tabs-2">    
      
    </div>
  </div>
</div>
{% endblock %}