<html>
<head>
</head>

<body>
	<h1>Это страница приветствия</h1>
	<a href="{% url 'welcome:post_new' %}" class="top-menu">newPost</a>
    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="{% url 'welcome:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

    <div>
		<a href="{% url 'registration:index' %}"><button>Тест</button></a>
    </div>
	
</body>	
</html>
