{% extends 'project/base.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row">
		<h2>Приветствуем на главной странице</h2>
		<div class="col-md-12">
			<div class="layer">
				<caption>Список клиентов</caption>
				<table class="table table-bordered">
					<tr class="tableHead">
						<td>Имя</td>
						<td>Телефон</td>
						<td>Возраст</td>
					</tr>
					{% for client in Clients %}
					<tr class="" id="{{client.id}}">
						<td><a href="">{{client.login}}</a></td>
						<td>{{client.phone}}</td>
						<td>{{client.begindate}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<div class="col-md-12">
			<div class="layer">
				<caption>Список посещений</caption>
				<table class="table table-bordered">
					<tr class="tableHead">
						<td>Имя</td>
						<td>Дата</td>
						<td>Событие</td>
					</tr>
					{% for visit in Visits %}
					<tr>
						<td>{{visit.id_client}}</td>
						<td>{{visit.date}}</td>
						<td>{{visit.id_event}}</td>

					</tr>
					{% endfor %}
				</table>	
			</div>		
		</div>
	</div>
</div>



{% endblock %}