{% block footer %}
    <footer>

            <div class="text-center" style="padding-top: 10px">
            	Разработчик <a target="_blank" href="https://vk.com/mechpilot">Антон Егоров</a>
            </div>

</footer>
{% endblock %}