{% block header %}
    <!--Шапка-->
    <header>
        <nav class="navbar navbar-default " role="navigation">
            <div class="container-fluid">
                <div class="row">

                    <!--логотип и кнопка раздвижения меню-->
                    <div class="col-sm-8">
                        <div class="navbar-header" role="banner">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#navbar-collapse">
                                <span class="sr-only">Развернуть</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            
                            <img src="">
                        </div>
                    </div>

                    <!--навигационое меню сайта -->
                    <div class="col-sm-16">
                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <ul class="nav  nav-pills nav-justified navMenu">
                                <li class="">
                                    <a href="{% url 'welcome:index' %}">
                                        <i class="" aria-hidden="true"></i> Главная
                                    </a>
                                </li>
                                {% if perms.crm %} 
                                <li class="">
                                    <a href="{% url 'crm:index' %}">
                                        <i class="" aria-hidden="true"></i> Учет посетителей
                                    </a>
                                </li>                               
                                <li class="">
                                    <a href="{% url 'crm:charts' %}">
                                        <i class="" aria-hidden="true"></i> Анализ посещений
                                    </a>
                                </li>
                                {% endif %}



                                {% if user.is_authenticated %}
                                <li>                            
                                        <a href="">*Личный кабинет {{user.username}}</a>
                                </li>
                                <li class="">
                                        <a href="{% url 'registration:logout' %}">Выход</a> 
                                </li>
                                {% else %} 
                                <li>                                    
                                    <a href="{% url 'registration:login' %}">Войдите</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'registration:reg' %}">Зарегистрируйтесь</a>
                                </li>
                                {% endif %}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}